<div class="black-container">
  <div class="title-container-img">
    <div class="title-container-linear">
      <div class="flex-align-colle">
        <h2>A SIMPLE TOOL TO FIND FESTIVALS <strong>/ FITTING WITH YOUR MUSICAL TASTES</strong></h2>
      </div>
      <div class="main-title">
      <h1>GET TO THE</h1>
      <h1>FEST</h1>
      </div>
      <div class="left">
        <p>Discover festivals you could like by matching artists you follow on Spotify - It's really simple, all you have to do is to click below</p>
      </div>
      <br>
      <br>
        <%= link_to omniauth_authorize_path(:user, :spotify), class: "btn-get" do %>
        <span class="btn-get-text"><i class="fab fa-spotify"></i>Connect</span>
        <% end %>
      <!-- <img src="images/roc.png" alt=""> -->
    </div>
  </div>
  <div class="title-container">
    <div class="left">
      <p></p>
    </div>
  </div>
</div>

<div class="footer">
<div class="footer-copyright">
  Follow us <i class="fa fa-headphones" aria-hidden="true"></i>
</div>
<div class="footer-links">
  <a href="#"><i class="fab fa-github"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
</div>
