.about {
  color: white;
  padding-right: 100px;
  font-family: $body-font;
}

.about-algorithm {
  font-family: $body-font;
}

.about-algorithm-example {

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-examples {
  display: flex;
  justify-content: space-evenly;
}

.about-example {
  text-align: center;
  color: #f4f4f4;
  width: 400px;
  justify-text: center;
}

.team {
  display: flex;
  justify-content: space-around;
}

.team_pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: #f4f4f4 solid 2px;
}

.team_desc {
  text-align: center;
  justify-content: center;
  color: #f4f4f4;
  width: 300px;
  justify-text: center;
}
