.team {
  position: absolute;
  color: white;
  font-family: $body-font;
  display: flex;
  justify-content: space-around;
  top: 27.5vh;
  height: 45vh;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}

.about-small {
  font-weight: lighter;
}

.navigation {
  display: flex;
  justify-content: center;
  i {
    margin-bottom: 10px;
  }
}

#chevron {
  transition: .5s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-small {
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.about-example {
  text-align: center;
  color: #f4f4f4;
  width: 400px;
  justify-text: center;
}

.team_pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: #f4f4f4 solid 2px;
}

.team_desc {
  text-align: center;
  justify-content: center;
  color: #f4f4f4;
  width: 20vw;
  height: 45vh;
  margin: 10px;
}
