.main-title h1 {
  margin-top: 30px;
  font-family: 'Lobster', cursive;
  color: #F9CE00;
  font-size: 92px;
  font-weight: 400;
}

.flex-align-colle {
  display: flex;
  align-items: center;
  color: white;
}

.flex-align-colle h2 {
  font-family: $body-font, sans-serif;
  font-size: 20px;
  margin-bottom: 10px
}

.text-bold {
  padding-left: 5px;
  font-family: $body-font, sans-serif;
}

.black-container {
  background-color: black;
}

.title-container-img {
  background: url(image_path('stage.png')) fixed no-repeat bottom right;;
  background-size: 80%;
  height: 100vh;
}


.title-container-linear {
  padding-top: 20px;
  padding-left: 100px;
  background: linear-gradient(135deg,
  rgba(0,0,0,0.8) 0%,
  rgba(0, 0, 0, 0.3) 50%) fixed no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.title-container {
  padding-top: 20px;
  padding-left: 100px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(image_path('fest.jpeg')) fixed no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.title-container-team {
  padding-top: 20px;
  padding-left: 100px;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url(image_path('cover.jpeg')) fixed no-repeat bottom right;
  background-size: cover;
  height: 100vh;
}

.left {
  padding-top:30px;
  padding-bottom: 10px;
  width:380px;
  color:white;
  font-size:23px;
}
