.btn-get {
  color: black;
  font-size: 20px;
  border-radius: 10px 0px 10px 0;
  padding: 10px 15px;
  font-weight: bolder;
  background-color: #F9CE00;
  width:170px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  i {
    padding-right: 5px;
  }
}

.btn-get:link {
  color: black;
  text-decoration: none;
}

.btn-get:visited {
  color: black;
  text-decoration: none;
}

.btn-get:hover {
  color: black;
  text-decoration: none;
  .btn-get-text {
    opacity: 0.70;
  }
}

.btn-get:active {
  color: black;
  text-decoration: none;
  .btn-get-text {
    opacity: 0.70;
  }
}


.btn-get-tickets {
  color: black;
  font-size: 16px;
  border: 1px solid;
  border-radius: 10px 0px 10px 0;
  padding: 10px 15px;
  background-color: #F9CE00;
  width: 123px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-get-tickets:link {
  color: black;
  text-decoration: none;
}

.btn-get-tickets:visited {
  color: black;
  text-decoration: none;
}

.btn-get-tickets:hover {
  color: black;
  text-decoration: none;
  .btn-get-tickets-text {
    opacity: 0.70;
  }
}

.btn-get-tickets:active {
  color: black;
  text-decoration: none;
  .btn-get-text {
    opacity: 0.70;
  }
}
