.white-container-results{
  background-color: #F4F4F4;
  height: 200vh;
}
.yellow-container-results{
  padding-top: 10px;
  background: linear-gradient(135deg,
    #F4F4F4 50%,
    #F7A629 0%) fixed no-repeat bottom right;
  /*background-color: #F7A629;*/
  height: 200vh;
}
// .card-black {
//   height: 300px;
//   margin-top:100px;
//   position:relative;
// }
.card-date{
  position: absolute;
  width: 70px;
  top: 30px;
  right:80px;
}

.card-date .month{
  color:white;
  margin-bottom: 0;
  font-size: 20px;
}
.card-date .day {
  font-family: 'Plaster', cursive;
  color: #F9CE00;
  font-size:30px;
  margin-top: 0;
}
#title-fest {
  position: absolute;
  font-family: 'Plaster', cursive;
  top:15px;
  left:60px;
  color: #F9CE00;
  font-size: 40px;
}
#title-place {
  position: absolute;
  top:100px;
  left:60px;
}
#city{
  font-size: 10px;
}
#country {
  font-size: 20px;
}
.title-affinity {
  position: absolute;
  font-size: 20px;
  /*font-family: 'Plaster', cursive;*/
  top:150px;
  left:60px;
  color: #F9CE00;
}

#desc-fest {
  position: absolute;
  top:35px;
  left:35px;
}

.desc-flex-align-colle {
  display: flex;
  align-items: center;
  color: black;
}

#desc {
  font-size: 0.875em;
  margin-right: 4%;
  padding: 1%;
  border: 1px solid;
  background-color: #F9CE00;
}

.content-flexbox {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 125px;
  left: 35px;
  height: 30%;
  width: 92%;
}

.artists-top {
}

.artists-top-number {
  color: black;
  font-size: 47px;
  font-weight: bold;
}

.artists-top-desc {
  color: black;
  font-size: 18px;
}

.artists-recently-listened-number {
  color: black;
  font-size: 47px;
  font-weight: bold;
}

.artists-recently-listened-desc {
  color: black;
  font-size: 18px;
}

.artists-you-could-like-number {
  font-size: 47px;
  font-weight: bold;
}

.artists-you-could-like-desc {
  color: black;
  font-size: 18px;
}
