.white-container-results{
  background-color: #F4F4F4;
  height: 200vh;
}
.yellow-container-results{
  padding-top: 10px;
  background: linear-gradient(135deg,
    #F4F4F4 50%,
    #F7A629 0%) fixed no-repeat bottom right;
  /*background-color: #F7A629;*/
  height: 200vh;
}
// .card-black {
//   height: 300px;
//   margin-top:100px;
//   position:relative;
// }
.card-date{
  position: absolute;
  width: 70px;
  top: 30px;
  right:80px;
}

.card-date .month{
  color:white;
  margin-bottom: 0;
  font-size: 20px;
}
.card-date .day {
  font-family: 'Plaster', cursive;
  color: #F9CE00;
  font-size:30px;
  margin-top: 0;
}
#title-fest {
  position: absolute;
  font-family: 'Plaster', cursive;
  top:15px;
  left:60px;
  color: #F9CE00;
  font-size: 40px;
}
#title-place {
  position: absolute;
  top:100px;
  left:60px;
}
#city{
  font-size: 10px;
}
#country {
  font-size: 20px;
}
.title-affinity {
  position: absolute;
  font-size: 20px;
  /*font-family: 'Plaster', cursive;*/
  top:150px;
  left:60px;
  color: #F9CE00;
}

#title-desc-fest {
  position: absolute;
  font-family: 'Plaster', cursive;
  top:15px;
  left:60px;
  color: black;
  font-size: 27px;
}

#desc-fest {
  position: absolute;
  top:84px;
  left:60px;
}

.desc-flex-align-colle {
  display: flex;
  align-items: center;
  color: black;
}

#desc{
  font-size: 19px;
  padding-right: 10%;
}

.artists-top {
  position: relative;
  display: flex;
  align-items: center;
}

.artists-top-number {
  position: absolute;
  top:195px;
  left:150px;
  color: black;
  font-size: 30px;
}

.artists-top-desc {
  position: absolute;
  top:239px;
  left:60px;
  color: black;
  font-size: 18px;
}

.artists-recently-listened-number {
  position: absolute;
  top:195px;
  left:366px;
  color: black;
  font-size: 30px;
}

.artists-recently-listened-desc {
  position: absolute;
  top:239px;
  left:275px;
  color: black;
  font-size: 18px;
}

.artists-you-could-like-number {
  position: absolute;
  top:195px;
  left:566px;
  color: black;
  font-size: 30px;
}

.artists-you-could-like-desc {
  position: absolute;
  top:239px;
  left:500px;
  color: black;
  font-size: 18px;
}
