
// inline form
.form-inline {
  text-align: center;
}

.filter_style {
  width: 300px;
}

// .search-filter {
//   &.active {
//     z-index: 1;
//   }
// }

.searchbar-icon {
  position: relative;
  // z-index: -1;
  // &.active {
  //   z-index: 1;
  // }
}


#nav-icon2{
  position: absolute;
  margin: 10px;
  left: 10px;
}

.fa-search{
  font-size: 30px;
 &:hover {
  cursor: pointer;
 }
}

.background-filter {
  // margin: 15px;
  padding: 10px 50px;
  background: #F5A53A;
  border-radius: 0 0 0 10px;
  margin-top: -85px;
  position: relative;
  z-index: -10;
  transition: all .5s ease-in-out;
  &.active {
    // transition-delay: 1s;
    margin-top: 0;
    z-index: 1;
  }
  form {
    display: flex;
    align-items: center;
  }
  input[type="text"] {
    background: white;
    border: 1px solid white;
    border-radius: 0;
    color: black;
    height: 45px;
    margin: 0 5px;
    font-size: 14px;
    flex: 1;
    box-shadow: none;
  }
}


// Icon burger
.burger-position {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}


// button search

.button-search {
  border: 1px solid black;
  background: black;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: .5s;
  height: 45px;
  flex: 0;
  font-size: 14px;
    &:hover{
   background: transparent;
   border: 1px solid black;
   color: black;
  }
}

