.footer {
  background: #F9CE00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.40;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: black;
  opacity: 1;
}
.footer .fa-headphones {
  color: black;
}

.footer-copyright {
  font-size: 20px;
}

.footer-results {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #F9CE00;
}
.footer-links-results {
  display: flex;
  align-items: center;
}
.footer-links-results a {
  color: #F9CE00;
  opacity: 0.60;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links-results a:hover {
  color: #F9CE00;
  opacity: 1;
}
.footer .fa-headphones {
  color: #F9CE00;
}

.footer-copyright-results {
  font-size: 20px;
}

.footer-copyright-results-text {
  opacity: 0.60;
  margin-right: 8px;
}

.footer-copyright-results-head {
  opacity: 1;
}

