.slider {
  position: absolute;
  top: 90px;
  right: -250px;
  width: 200px;
  overflow: hidden;
  animation: fading ;
}

.slides {
  width: calc(200px * 3);
  animation: glisse 10s infinite;
}

.slide {
  float: left;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-200px);
  }
  43% {
    transform: translateX(-200px);
  }
  66% {
    transform: translateX(-400px);
  }
  76% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fading {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
}
