#fbstyle {
  cursor: pointer;
 }

.social-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: inherit;
  position: absolute;
  right: 57px;
  top: 142px;
}

.socialspace {
  margin-right: 10px;
  display: flex;
}

#enveleope-color {
  color: white;
  font-size: 22px;
}

#twitter-widget-0 {
  vertical-align: middle !important;
}

.fb_iframe_widget span {
  vertical-align: inherit !important;
}
